# Ignore virtual environments
.venv/
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local IDE/project settings
.vscode/
.idea/

# Ignore system files (Mac/Windows)
.DS_Store
Thumbs.db

# Ignore logs or temporary files
*.log
*.tmp

# Ignore environment or secret files
.env
